.pick-form__game-choice{
	margin-right: 5px;
	input {
		margin-right: 5px;
	}
}
.pick-form label {
	margin-right: 5px;
}
.pick-form__fieldset {
	margin-top: 20px;
}
.pick-form__owner-input {
	display: block;
}
.pick-form__submit {
	margin: 40px 0;
}
.picks-list__ul {
	margin-bottom: 20px;
}
